.contact {
  background: #0b0b0b;
  padding: 100px 40px;
  color: white;
}

.contact-title {
  text-align: center;
  font-size: 38px;
  margin-bottom: 60px;
}

.contact-title span {
  color: #00ff2a;
}

/* LAYOUT */

.contact-container {
  max-width: 1100px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

/* LEFT INFO */

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-item {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.contact-item .icon {
  font-size: 20px;
  color: #00ff2a;
}

.contact-item h4 {
  font-size: 13px;
  color: #aaa;
  margin-bottom: 4px;
}

.contact-item p {
  font-size: 15px;
}

/* FORM */

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  background: #1a1a1a;
  border: 1px solid #333;
  padding: 14px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #00ff2a;
}

.contact-form button {
  background: #00ff2a;
  color: black;
  border: none;
  padding: 15px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #39ff14;
}
@media (max-width: 768px) {

  .contact-container {
    grid-template-columns: 1fr;
  }

}