.footer {
  background: #0b0b0b;
  color: white;
  padding: 60px 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer h2 {
  color: #9cff00;
  font-size: 24px;
}

.footer h3 {
  margin-bottom: 15px;
  font-size: 16px;
}

.footer-brand {
  max-width: 300px;
}

.footer-brand p {
  margin: 10px 0 20px;
  color: #aaa;
}

.socials {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.socials a {
  width: 38px;
  height: 38px;
  background: #1a1a1a;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.socials a:hover {
  background: #9cff00;
  color: black;
}

.socials i {
  font-size: 16px;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  color: #aaa;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-links a:hover {
  color: #9cff00;
}

.footer-contact p {
  margin-bottom: 10px;
  color: #aaa;
}

.footer-contact a {
  color: #aaa;
  text-decoration: none;
}

.footer-contact a:hover {
  color: #9cff00;
}

.footer-bottom {
  border-top: 1px solid #222;
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  color: #777;
  font-size: 14px;
}