.membership {
  padding: 100px 40px;
  background: #0b0f0d;
  text-align: center;
  color: white;
}

.membership-header h2 {
  font-size: 40px;
}

.membership-header span {
  color: lime;
}

.membership-header p {
  color: #aaa;
  margin-top: 10px;
}

.membership-grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
  gap: 30px;
  max-width: 1200px;
  margin-inline: auto;
}

.membership-card {
  background: #111;
  border: 1px solid #333;
  padding: 30px;
  border-radius: 12px;
  transition: 0.3s;
}

.membership-card:hover {
  transform: translateY(-8px);
  border-color: lime;
}

.membership-card h1 {
  color: lime;
  margin: 15px 0;
}

.membership-card ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.membership-card li {
  margin: 8px 0;
  color: #ccc;
}

.membership-card button {
  background: lime;
  border: none;
  padding: 12px 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.highlight {
  border: 2px solid lime;
}