.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;
  background: black;
  color: white;
  z-index: 1000;
}

/* logo container */

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* rounded logo */

.logo-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid lime;
}

/* text */

.logo-text {
  color: lime;
  font-weight: bold;
  font-size: 22px;
}

/* nav links */

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover {
  color: lime;
}

@media (max-width: 768px) {

  .navbar {
    padding: 0 20px;
  }

  .navbar ul {
    display: none;
  }

}